node_modules/*
bower_components/
/.idea/*
/.idea
/app.js.orig
/mongod.lock
/storage.bson
/tripLoggerDB.0
/tripLoggerDB.ns
/local.0
/local.ns
/public/npm-debug.log
/public/index.html.orig
StartMongoDB.bat
/public/modules/trip/trip-ctrl.js.orig
/public/modules/trip/trip.html.orig
