<div class="well">
    <center>
        <h4>Logowanie</h4>
        <form  style="padding: 20px" class="form">

            <div class="input-group text-center">
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Login" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" required="">

                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </center>
</div>