

<div class="well">
  <h2>Nowa wycieczka</h2>
</div>

<div class="well">

        <form class="form">

            <div class="row">
                <!-- left column-->
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Szczegóły wycieczki</h3>

                      </div>
                      <div class="panel-body">

                        <div class="form-group">
							<label style="text-align: left;">Nazwa:</label>
                            <input type="text" maxlength="50" name="name" id="name" class="form-control"
                                   placeholder="Nazwa podróży" ng-model="name" required="">
                        </div>

                        <div class="form-group">
                        <label>Opisz swoją podróż:</label>
                            <textarea placeholder="Opis" rows="10" maxlength="10000" style="overflow:hidden" type="text"
                                      name="description" id="description" class="form-control" ng-model="description"
                                      required=""></textarea>
                        </div>
                        
                        <center>

                          <div class="form-group">
                              <input type="checkbox" ng-model="vm.publicAccess">Wycieczka publiczna</input>
                          </div>
                          
                        </center>
                          
                          <div style="width:100%;margin-top:20px;" class="alert alert-info" role="alert">Po zaznaczeniu tego pola Twoja wycieczka będzie widoczna dla wszystkich użytkowników serwisu. Możesz ukryć wycieczkę, pozostawiając to pole puste.</div>

                          <label>Czas wycieczki:</label>
                        <div class="form-group">
                        
                            <div class="input-daterange input-group" id="datepicker">
                                <span class="input-group-addon">od</span>
                                <input id="startDate" type="text" class="input-sm form-control" name="startDate" ng-model="vm.parent.startDate"
                                      required=""/>
                                <span class="input-group-addon">do</span>
                                <input id="endDate" type="text" class="input-sm form-control" name="endDate" ng-model="vm.parent.endDate"
                                      required=""/>
                            </div>
                        </div>



                    </div>
                  </div>
                </div>
                <!--right column Tutaj dodawanie zdjęć następny sprint (mercedes sprinter )-->

                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Dodaj zdjęcia</h3>
                      </div>
                      <div class="panel-body">
                      
                          <center>
                            <form name="picturesForm">
                                

                                <center>
                                    <input type="file" ngf-select ngf-keep="true" ngf-multiple="true" ng-model="vm.photosToBeUploaded" name="file"
                                     accept="image/*" ngf-max-size="5MB" ngf-fix-orientation="true"
                                     ngf-resize="{width: 1366, height: 768, quality: .9, type: 'image/jpeg'}"
                                     ngf-model-invalid="errorFiles"/>
                                    <i ng-show="picturesForm.file.$error.maxSize">Plik za duży
                                      {{errorFiles[0].size / 1000000|number:1}}MB: max 5M</i>
                                    <p ng-repeat="pic in vm.photosToBeUploaded">
                                      <img ngf-no-object-url="true" ngf-thumbnail="pic" class="thumb">
                                      <!--<img ng-src="/photo/{{photo.filename}}" class="thumb" alt="test">-->
                                      <!--<img class="thumb" ng-src="/photo/{{pic.filename}}" alt="test"/>-->
                                      <button class="btn btn-sm btn-danger" ng-click="vm.removeFromPhotosList($index)" ng-show="pic">Usuń</button>
                                     
                                    </p>
                                </center>

                            </form>
                          </center>
                      </div>

                    </div>
                </div>

                <div class="row" id="footer">
                    <div class="col-sm-6">

                    </div>

                    <div class="col-sm-6">
                        <p>
                            <a href="#" class="pull-right"></a>
                        </p>
                    </div>
                </div>

                <div class="form-actions">

                  <center>
                    <button class="btn btn-lg btn-primary" type="submit"
                            ng-click="vm.addTrip(name, description, publicAccess)">Dodaj podróż
                    </button>
                  </center>
                  <span class="progress" ng-show="vm.progress >= 0">
                            <div ng-style="{ width:'{{vm.progress}}%'}" ng-bind="vm.progress + '%'">
                            </div>
                          </span>
                    <span ng-show="vm.result">zakończono</span>
                    <span class="err" ng-show="vm.errorMsg">{{errorMsg}}</span>

                </div>
            </div>
        </form>
</div>

<script>
    jQuery('.input-daterange').datepicker({
        format: "yyyy/mm/dd",
        todayBtn: false,
        todayHighlight: true
    });
</script>