<div class="well" >
    <center>
        <form class="form">


            <div class="row">
                <!-- left column-->
                <div class="col-sm-6">
                    <div class="well">


                        <div class="form-group">
                            <input type="text"  maxlength="50" name="name" id="name" class="form-control" placeholder="Nazwa podróży" ng-model="vm.tripName" required="">
                        </div>

                        <div class="form-group">
                            <textarea  placeholder="Opis" rows="10" maxlength="10000" style="overflow:hidden" type="text" name="description" id="description" class="form-control" ng-model="vm.tripDescription" required=""></textarea>
                        </div>
                        
                        <div class="form-group">
                            <input type="checkbox" ng-model="vm.publicAccess">Public trip</input>
                        </div>

                        <div class="form-group">
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" name="start" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="input-sm form-control" name="end" />
                            </div>
                        </div>


                    </div>
                </div>
                <!--right column Tutaj dodawanie zdjęć następny sprint (mercedes sprinter )-->

                <div class="col-sm-6">
                    <div class="well">
                    </div>

                </div>

                <div class="row" id="footer">
                    <div class="col-sm-6">

                    </div>

                    <div class="col-sm-6">
                        <p>
                            <a href="#" class="pull-right"></a>
                        </p>
                    </div>
                </div>

                <div class="form-actions">

                    <button type="submit" class="btn btn-primary" ng-click="vm.updateTrip()">Uaktualnij podróż</button>

                </div>

            </div>
        </form>
    </center>
</div>

