<div class="well">
  <h2>Edycja wycieczki</h2>
</div>

<div class="well" >
    
        <div class="row">
                <!-- left column-->
            <form class="form">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Szczegóły wycieczki</h3>
                      </div>
                      <div class="panel-body">

                        <div class="form-group">
							<label style="text-align: left;">Nazwa:</label>
                            <input type="text" maxlength="50" name="name" id="name" class="form-control"
                                   placeholder="Nazwa podróży" ng-model="vm.tripName" required="">
                        </div>

                        <div class="form-group">
                        <label>Opisz swoją podróż:</label>
                            <textarea placeholder="Opis" rows="10" maxlength="10000" style="overflow:hidden" type="text"
                                      name="description" id="description" class="form-control" ng-model="vm.tripDescription"
                                      required=""></textarea>
                        </div>
                        
                        <center>

                          <div class="form-group">
                              <input type="checkbox" ng-model="vm.publicAccess">Wycieczka publiczna</input>
                          </div>
                          
                        </center>
                          
                          <div style="width:100%;margin-top:20px;" class="alert alert-info" role="alert">Po zaznaczeniu tego pola Twoja wycieczka będzie widoczna dla wszystkich użytkowników serwisu. Możesz ukryć wycieczkę, pozostawiając to pole puste.</div>

                          <label>Czas wycieczki:</label>
                        <div class="form-group">
                        
                            <div class="input-daterange input-group" id="datepicker">
                                <span class="input-group-addon">od</span>
                                <input id="startDate" type="text" class="input-sm form-control" name="startDate" ng-value="vm.startDate | date:'yyyy/MM/dd'"
                                      required=""/>
                                <span class="input-group-addon">do</span>
                                <input id="endDate" type="text" class="input-sm form-control" name="endDate" ng-value="vm.endDate | date:'yyyy/MM/dd'"
                                      required=""/>
                          </div>
                        </div>



                    </div>
                  </div>
                </div>
            </form>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Zdjęcia</h3>
                    </div>
                    <div class="panel-body">

                        <form name="picturesForm">
                            
                                
                                <div class="row">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                          <h3 class="panel-title">Dodaj Zdjęcia</h3>
                                        </div>
                                        <div class="panel-body">
                                          <center>
                                              <input class="btn-file" type="file" ngf-select ngf-keep="true" ngf-multiple="true" ng-model="vm.photosToBeUploaded" name="file"
                                               accept="image/*" ngf-max-size="5MB" ngf-fix-orientation="true"
                                               ngf-resize="{width: 1366, height: 768, quality: .9, type: 'image/jpeg'}"
                                               ngf-model-invalid="errorFiles">
                                              <i ng-show="picturesForm.file.$error.maxSize">Plik za duży
                                                {{errorFiles[0].size / 1000000|number:1}}MB: max 5M</i>
                                              <p ng-repeat="pic in vm.photosToBeUploaded">
                                                <img ngf-no-object-url="true" ngf-thumbnail="pic" class="thumb">
                                                <!--<img ng-src="/photo/{{photo.filename}}" class="thumb" alt="test">-->
                                                <!--<img class="thumb" ng-src="/photo/{{pic.filename}}" alt="test"/>-->
                                                <button class="btn btn-sm btn-danger" ng-click="vm.removeFromPhotosList($index)" ng-show="pic">Usuń</button>
                                               
                                            </p>
                                          </center>
                                        </div>
                                    </div>

                                </div>
                                    
                                
                                  <div class="well" ng-repeat="pic in vm.photos">
                                    <div class="media">
                                      <div class="media-center">
                                        <img class="pull-right" ng-src="/photo/{{pic.filename}}" style="max-width: 150px; max-height: 150px;"/>
                                      </div>
                                      <div class="media-body">
                                        <label>Nazwa:</label>
                                        <div style="max-width: 300px;">
                                          <div class="input-group">
                                            <input type="text" ng-model="pic.name" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                              <button class="btn btn-warning" type="button" ng-click="vm.updatePhoto(pic)">Zmień</button>
                                            </span>
                                          </div>
                                          <br/>
                                          <button class="btn btn-danger" ng-click="vm.deletePhoto(pic)">Usuń zdjęcie</button>
                                        </div>
                                        <br/>
                                        <p>dodano: {{pic.createdDate | date:'yyyy.MM.dd, HH:mm:ss'}}</p>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                

                                <br>
                        </form>


<!--

                        <form method="post" enctype="multipart/form-data" action="/photo">
                            <input type="text" name="tripId" ng-model="vm.tripIdent">
                            <input type="text" name="token" ng-model="vm.token">
                            <input type="file" name="photos" multiple>
                            <input type="submit">


                        </form>

-->
                    </div>
                </div>
            </div>

            </div>

            <div class="row" id="footer">
                <div class="col-sm-6">

                </div>

                <div class="col-sm-6">
                    <p>
                        <a href="#" class="pull-right"></a>
                    </p>
                </div>
            </div>

            <div class="form-actions">
              <center>
                <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.updateTrip()">Uaktualnij podróż</button>
              </center>
            </div>

        </form>
    
</div>

<script>
    jQuery('.input-daterange').datepicker({
        format: "yyyy/mm/dd",
        todayBtn: false,
        todayHighlight: true
    });
</script>