<div class="column col-sm-12 col-lg-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Trip!</h3>
      <p> Miejsce na widok wycieczki </p>
    </div>
  </div>
</div>

<div class="column col-sm-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Komentarze</h3>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat="comment in vm.comments">
        <div class="media-left pull-left">
          <a href="#">
            <img class="media-object" src="/img/user.png" width="64" height="64">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong> ({{comment.time}})</h4>
          <p>{{comment.text}}</p>
        </div>
      </div>
      
      <div class="media">
        <div class="media-left pull-left">
          <a href="#">
            <img class="media-object" src="/img/user.png" width="64" height="64">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Aktualnie Zalogowany</strong></h4>
          <textarea class="form-control" placeholder="Your comment here..." ng-model="vm.newCommentText"></textarea>
          <button class="btn btn-primary pull-right" ng-click="vm.addComment()">Dodaj komentarz</button>
        </div>
      </div>
    </div>
  </div>
</div>