<div class="column col-sm-12 col-lg-12" ng-if="vm.tripNotFound">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Błąd</strong></h3>
    </div>
          
    <div class="panel-body">
        <p>Nie znaleziono wycieczki.</p>
    </div>


    
  </div>
</div>

<div class="column col-sm-12 col-lg-12" ng-if="vm.accessDenied">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Błąd</strong></h3>
    </div>
          
    <div class="panel-body">
        <p>Brak dostępu do wycieczki.</p>
    </div>


    
  </div>
</div>

<div ng-if="!vm.tripNotFound && !vm.accessDenied">
<div class="column col-sm-12 col-lg-8" >
  
  <div class="well">
    <img class="pull-right" ng-src="{{vm.publicAccess ? '/img/opened_lock.png' : '/img/closed_lock.png'}}"/>
    <h2>{{vm.tripName}}</h2>
    <p>{{tripHeader.fromDate ? 'od: ' + tripHeader.fromDate : '' }}</p>
    <p>{{tripHeader.toDate ? 'do: ' + tripHeader.toDate : ''}}</p>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Zdjęcia</h3>
    </div>
          
    <div class="panel-body">
	
<!--	<div class="image-row">
		<div class="image-set">
		  <a class="example-image-link" href="images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/thumb-3.jpg" alt="Golden Gate Bridge with San Francisco in distance"></a>
		  <a class="example-image-link" href="images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="images/thumb-4.jpg" alt="Forest with mountains behind"></a>
		  <a class="example-image-link" href="images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you&apos;re viewing."><img class="example-image" src="images/thumb-5.jpg" alt="Bicyclist looking out over hill at ocean"></a>
		  <a class="example-image-link" href="images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="images/thumb-6.jpg" alt="Small lighthouse at bottom with ocean behind"></a>
		</div>
	</div>-->
	<div class="image-row">
	<div class="image-set">
	<a href="/photo/5686ec94f0a673b8113d23b3_test - Kopia.png" class="example-image-link" data-lightbox="example-set" data-title="My caption">
	  <img src="photo/5686ec94f0a673b8113d23b3_test - Kopia"/>
	</a>
	<label ng-repeat="photo in vm.photos">
		<a ng-href="/photo/{{photo.filename}}" class="example-image-link" data-lightbox="example-set" data-title="My caption">
		<img class="thumb" ng-src="/photo/{{photo.filename}}" alt="test"/></a>
	</label>	
	</div>
	</div>
	  
	  <!--
      <div class="row">
        <ul>
        <li ng-repeat="photo in vm.photos"> 
        <img ng-src="/photo/{{photo.filename}}" width="200"/>
        Name: {{photo.name}}, Filename: {{photo.filename}}, Description: {{photo.description}}, Date: {{photo.createdDate}}</li>
        </ul>
      </div> -->
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Opis</h3>
    </div>
          
    <div class="panel-body">
        <p>{{vm.tripDescription}}</p>
    </div>
  </div>
  <button class=".btn-link" ng-show="vm.tripIsEditable" ui-sref="app.edittrip({tripId: vm.tripIdent})">Edytuj</button>
</div>
  <div class="column col-sm-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Komentarze</h3>
    </div>
    <div class="panel-body">
      <div class="media" ng-repeat="comment in vm.comments">
        <div class="media-left pull-left">
          <a href="#" ui-sref="app.profile">
            <img class="media-object" ng-src="/img/avatars/{{comment.author.login}}" width="48" height="48">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong></h4>
          <em>{{comment.time}}</em>
          <p>{{comment.text}}</p>
        </div>
      </div>
      
      <div class="media">
        <div class="media-left pull-left">
          <a href="#" ui-sref="app.profile">
            <img class="media-object" ng-src="/img/avatars/{{vm.user.login}}" width="48" height="48">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>{{vm.user.firstName + ' ' + vm.user.lastName}}</strong></h4>
          <textarea class="form-control" placeholder="Your comment here..." ng-model="vm.newCommentText"></textarea>
          <button class="btn btn-primary pull-right" ng-click="vm.addComment()">Dodaj komentarz</button>
        </div>
      </div>
    </div>
  </div>       

 
</div>
</div>

<script src="js/lightbox.js"></script>