<div class="column col-sm-12 col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edytuj Profil</h3>
        </div>
        <div class="panel-body">
            <div class="column col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Twoje dane</h3>
                    </div>
                    <div class="panel-body">
                        <center>
                            <form class="form">
                                <div class="input-group text-center">
								
									<div ng-if="vm.userDataUpdateFailed" style="width:100%;margin-top:20px;" class="alert alert-danger" role="alert">
										Aktualizacja danych nie powiodła się!
                                    </div>

                                    <div class="form-group">
                                        <label class="label-description">Nazwa użytkownika:</label>
                                        <input class="input-description" disabled type="text" name="username"
                                               id="username" class="form-control"
                                               placeholder="Login" ng-model="vm.login" required=""><br>
                                    </div>

                                    <div style="width:100%;margin-top:20px;" class="alert alert-info" role="alert">Login
                                        nie może zostać zmieniony.
                                    </div>

                                    <!--
                                                            <div class="form-group">
                                                                <input type="text" name="password" id="password" class="form-control" placeholder="Hasło" ng-model="vm.password" required="">
                                                            </div>
                                    -->

                                    <div class="form-group">
                                        <label class="label-description">Email:</label>
                                        <input class="input-description" type="text" name="email" id="email"
                                               class="form-control"
                                               placeholder="Email" ng-model="vm.email" required=""><br>
                                    </div>

                                    <div class="form-group">
                                        <label class="label-description">Imie:</label>
                                        <input class="input-description" type="text" name="name" id="name"
                                               class="form-control" placeholder="Imię"
                                               ng-model="vm.firstName" required=""><br>
                                    </div>

                                    <div class="form-group">
                                        <label class="label-description">Nazwisko:</label>
                                        <input class="input-description" type="text" name="surname" id="surname"
                                               class="form-control"
                                               placeholder="Nazwisko" ng-model="vm.lastName" required=""><br>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" ng-click="vm.updateProfile()">Uaktualnij
                                    </button>
                                </div>
                            </form>
                        </center>
                    </div>
                </div>
            </div>
            <div class="column col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Twój avatar</h3>
                    </div>
                    <div class="panel-body">

                        <!--
                        <form method="post" enctype="multipart/form-data" action="photo/avatar">
                          <input type="text" name="username" ng-model="vm.login">
                          <input type="text" name="token" ng-model="vm.token">
                          <input type="file" name="avatar">
                          <input type="submit">
                        </form>
                       -->

                        <div class="pull-right">
                            <img ng-src="img/avatars/{{vm.avatarName}}" class="avatar"/>
                        </div>


                        <form class="form" name="picturesForm">
                            <div class="input-group text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" ngf-select ng-model="vm.file">
                                        Wybierz avatar
                                    </button>
                                    <!--<span class="btn-file">
                                      <input type="file" ngf-select ngf-multiple="false" ng-model="vm.file" name="file"
                                             accept="image/*" ngf-max-size="1MB"
                                             ngf-model-invalid="errorFiles">
                                    </span>
                                    <i ng-show="picturesForm.file.$error.maxSize">File too large
                                        {{errorFiles[0].size / 1000000|number:1}}MB: max 1M</i>-->
                                    <div ng-show="vm.file">
                                        <img ng-show="picturesForm.file.$valid" ngf-thumbnail="vm.file" class="avatar">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button ng-disabled="!vm.file" class="btn btn-primary" ng-click="vm.uploadAvatar()">
                                        Uaktualnij
                                    </button>
                                    <button class="btn btn-danger" ng-click="vm.resetAvatar()">
                                        Przywróć domyślny
                                    </button>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>