<div class="column col-sm-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
	<center>
      <h3 class="panel-title">Logowanie</h3>
	</center>
    </div>
    <div class="panel-body">
      <center>
        <form class="form">
          <div class="input-group text-center">
            <div class="form-group">
              <div class="alert-danger" ng-show="!vm.credsOk">Nieprawidłowe dane</div>
            </div>
            <div class="alert alert-success" role="alert" ng-show="vm.successfulSignup">Rejestracja powiodła się!</div>
            <div class="form-group">
			  <label class="label-description">Nazwa użytkownika:</label>
              <input class="input-description" type="text" name="username" id="username" class="form-control" placeholder="Login" ng-model="username" required=""><br></br>
            </div>
            <div class="form-group">
			  <label class="label-description">Hasło:</label>
              <input class="input-description" type="password" name="password" id="password" class="form-control" placeholder="Hasło" ng-model="password" required=""><br></br>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="vm.logIn(username, password)">Login</button>
          </div>
          
          <div id="removeTrip" class="modal fade">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Usuwanie wycieczki</h4>
                </div>
                <div class="modal-body">
                  <p>Czy na pewno chcesz usunąć wycieczkę?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Usun</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </center>
    </div>
  </div>
</div>
