
<div ng-if="vm.userNotFound">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Błąd</h3>
    </div>
    <div class="panel-body">
      <center>
        <h3>USER NOT FOUND!</h3>
      </center>
    </div>
  </div>
</div>
<div ng-if="!vm.userNotFound">
  <div class="column col-sm-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <img ng-src="/img/{{vm.login}}.jpg" class="pull-right" width="200" height="200"/>
        <h2>{{vm.displayName}}</h2> <h3>{{vm.login}}</h3>
      </div>
    </div>
  </div>
  
  <div class="column col-sm-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Wycieczki</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="tripHeader in vm.userTripsHeaders" class="well">
          <a ui-sref="app.trip({tripId: tripHeader._id})">
            <div class="media">
              <div class="media-left">

                <img class="media-object pull-left" src="/img/bigben.jpg" width="50" height="50">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><strong>{{tripHeader.name}}</strong></h4>
                <p ng-if="tripHeader.fromDate || tripHeader.toDate">{{tripHeader.fromDate ? 'od: ' + tripHeader.fromDate : '' }} {{tripHeader.toDate ? 'do: ' + tripHeader.toDate : ''}}</p>
                <p>dodano: {{tripHeader.createdDate}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="column col-sm-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Zdjęcia</h3>
      </div>
      <div class="panel-body">
        <p>Tutaj mogą być np. zdjęcia.</p>
        <p>Na kolejny sprint</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edytuj profil</h3>
      </div>
      <div class="panel-body">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#removeUser">Usuń profil</button>

        <div id="removeUser" class="modal fade">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usuwanie profilu</h4>
              </div>
              <div class="modal-body">
                <p>Czy na pewno chcesz usunąć profil?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.removeUser()">Usun</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>