<div class="column col-sm-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Rejestracja</h3>
    </div>
    <div class="panel-body">
      <center>
        <form class="form">
          <div class="input-group text-center">
		  
			<div class="alert-danger" ng-show="vm.registrationFailed">
                Rejestracja nie powiodła się! {{vm.registrationFailedMessage}}
			</div>


            <div class="form-group">
			      <label class="label-description">Nazwa użytkownika:</label>
                  <input class="input-description" type="text" name="username" id="username" class="form-control" placeholder="mojlogin1275" ng-model="vm.login" required=""><br></br>
			      
				 <div style="width:100%;margin-top:20px;" class="alert alert-info" role="alert">Uwaga! Login nie może zostać zmieniony po rejestracji.</div>
			 </div>

				  <!--<div style="width:100%;" class="alert alert-info" role="alert">Uwaga! Login nie może zostać zmieniony po rejestracji.</div>-->
			  
              <div class="form-group">
			      <label class="label-description">Hasło:</label>
                  <input class="input-description" type="password" name="password" id="password" class="form-control" placeholder="mojehaslojestsuper" ng-model="vm.password" required=""><br></br>
              </div>

              <div class="form-group">
			      <label class="label-description">Email:</label>
                  <input class="input-description" type="text" name="email" id="email" class="form-control" placeholder="jan.nowak@triplogger.pl" ng-model="vm.email" required=""><br></br>
              </div>

              <div class="form-group">
			      <label class="label-description">Imie:</label>
                  <input class="input-description" type="text" name="name" id="name" class="form-control" placeholder="Jan" ng-model="vm.firstName" required=""><br></br>
              </div>

              <div class="form-group">
				  <label class="label-description">Nazwisko:</label>
                  <input class="input-description" type="text" name="surname" id="surname" class="form-control" placeholder="Kowalski" ng-model="vm.lastName" required=""><br></br>
              </div>

          </div>
          <div class="form-actions">
              <button type="submit" class="btn btn-primary" ng-click="vm.register(vm.login, vm.password, vm.email, vm.firstName, vm.lastName )">Zarejestruj</button>
          </div>
        </form>
      </center>
    </div>
  </div>
</div>