<div class="column col-sm-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Witaj, {{vm.user.firstName}}!</h3>
      <p>Miło Cię znów zobaczyć na TripLoggerze! :)</p>
    </div>
  </div>
</div>

<div class="column col-sm-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nowe wycieczki</h3>
    </div>
    <div class="panel-body">
      <div ng-repeat="tripHeader in vm.newestTripsHeaders" class="well">
        
        <div class="media">
          <div class="media-left">
            <a ui-sref="app.profile({login: tripHeader.author.login})">
              <img class="media-object pull-left" ng-src="/img/avatars/{{tripHeader.author.login}}" width="50" height="50">
            </a>
          </div>
          <div class="media-body">
            <a ui-sref="app.profile({login: tripHeader.author.login})">
              <p><strong>{{tripHeader.author.firstName + ' ' + tripHeader.author.lastName}}</strong>, dodano: {{tripHeader.createdDate}}</p>
            </a>
            <a ui-sref="app.trip({tripId: tripHeader._id})">
              <h4 class="media-heading"><strong>{{tripHeader.name}}</strong><span ng-if="tripHeader.fromDate || tripHeader.toDate">{{tripHeader.fromDate ? 'od: ' + tripHeader.fromDate : '' }} {{tripHeader.toDate ? 'do: ' + tripHeader.toDate : ''}}</span></h4>
            </a>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

